allow debuggerd app_data_file:file read;

# 04-01 14:58:46.809 I/debuggerd(5782): type=1400 audit(0.0:155): avc: denied { read } for name="libnss3.so" dev="mmcblk0p21" ino=263416 scontext=u:r:debuggerd:s0 tcontext=u:object_r:app_data_file:s0:c512,c768 tclass=file permissive=1
