### efs types
type app_efs_file, file_type;
type baro_delta_factoryapp_efs_file, file_type;
# widewine, drm
type factorymode_factoryapp_efs_file, file_type;
type radio_factoryapp_efs_file, file_type;

### sysfs types
type sysfs_multipdp_writable, fs_type, sysfs_type, mlstrustedobject;
type sysfs_usb_power_writable, fs_type, sysfs_type, mlstrustedobject;
type sysfs_otg_writable, fs_type, sysfs_type;
type sysfs_graphics, fs_type, sysfs_type, mlstrustedobject;

allow sysfs_type tmpfs:filesystem associate;
