domain_trans(init, rootfs, cpboot-daemon)
domain_trans(init, gpsd_exec, gpsd)
domain_trans(init, macloader_exec, macloader)
domain_trans(init, wifiloader_exec, wifiloader)

# /dev/block/mmcblk0p[0-9]
allow init mmc_block_device:blk_file rw_file_perms;

allow init block_device:lnk_file { setattr };
allow init tmpfs:lnk_file create_file_perms;

allow init system_data_file:file rename;

# /data
allow init sdcardd_exec:file r_file_perms;

allow init socket_device:sock_file { create setattr write };

# LD_SHIM_LIBS
allow init gpsd:process { noatsecure };
allow init mediaserver:process { noatsecure };

allow init debugfs:dir mounton;

allow init debugfs:file write;
allow init sysfs:lnk_file setattr;
