
allow mediaserver sysfs_wake_lock:file { open read write };
allow mediaserver system_data_file:dir { add_name write };
allow mediaserver system_server:unix_stream_socket { read write setopt };
allow mediaserver system_prop:property_service set;

# Playback DRM protected content
allow mediaserver secmem_device:chr_file rw_file_perms;
r_dir_file(mediaserver, efs_file)
allow mediaserver system_file:file execmod;
