allow mediadrmserver secmem_device:chr_file { ioctl open read write };
allow mediadrmserver efs_file:dir search;
allow mediadrmserver efs_file:file { getattr open read };
