allow system_app sysfs_input_file:file { getattr open write };
allow system_app system_data_file:dir { read getattr open };
allow system_app system_data_file:file { write getattr setattr read lock open };
