allow system_app system_data_file:dir { read getattr open };
allow system_app system_data_file:file { write getattr setattr read lock open };
allow system_app unlabeled:file { read getattr open write };
allow system_app unlabeled:dir { getattr search };
allow system_app app_data_file:dir r_dir_perms;
