allow untrusted_app init:dir r_dir_perms;
allow untrusted_app kernel:dir r_dir_perms;
allow untrusted_app fuseblk:dir search;
allow untrusted_app fuseblk:file { getattr read };
allow untrusted_app efs_file:dir { getattr search };
allow untrusted_app rootfs:dir r_dir_perms;
allow untrusted_app rootfs:file r_file_perms;
allow untrusted_app tombstone_data_file:dir search;

allow untrusted_app debuggerd_exec:file { open read };
allow untrusted_app sysfs:dir { open read };

allow untrusted_app proc_iomem:file getattr;
allow untrusted_app proc_sysrq:file getattr;
