/dev/mali                 0666   system     system
/dev/ion                  0666   system     system
/dev/ump                  0666   system     graphics
/dev/exynos-mem           0660   system     graphics

# mfc
#s5p-mfc-dec
/dev/video6               0660   mediacodec mediadrm
#s5p-mfc-enc
/dev/video7               0660   media      mediadrm
#s5p-mfc-dec-secure
/dev/video8               0660   media      mediadrm
#s5p-mfc-enc-secure
/dev/video9               0660   media      mediadrm

# fimc
#fimc.0.m2m
/dev/video23              0660   system     camera
#fimc.0.capture
/dev/video24              0660   system     camera
#fimc.1.m2m
/dev/video25              0660   system     camera
#fimc.1.capture
/dev/video26              0660   system     camera
#fimc.2.m2m
/dev/video27              0660   system     camera
#fimc.2.capture
/dev/video28              0660   system     camera
#fimc.3.m2m
/dev/video29              0660   system     camera
#fimc.3.capture
/dev/video30              0660   system     camera


/dev/v4l-subdev*          0660   system     camera
/dev/media0               0660   system     camera
/dev/media1               0660   system     camera
/dev/media2               0660   media      media

# JPEG
#JPEG HX Dec
/dev/video11              0660   system     camera
#JPEG HX Enc
/dev/video12              0660   system     camera

# camera
#exynos-fimc-is-sensor0
/dev/video100             0660   system     camera
#exynos-fimc-is-sensor1
/dev/video101             0660   system     camera
#exynos-fimc-is-isp
/dev/video130             0660   system     camera
#exynos-fimc-is-scalerc
/dev/video134             0660   system     camera
#exynos-fimc-is-scalerp
/dev/video137             0660   system     camera

/dev/fimg2d               0666   system     graphics
/dev/i2c-2                0660   system     system
/dev/HPD                  0660   system     system

#CEC
/dev/CEC                  0660   system     system

# ALP Audio
/dev/srp                  0660   system     audio

/dev/block/mmcblk0p8      0660   system     system

# the UMTS modem device nodes
/dev/umts*                0660   radio      radio

# for datarouter
/dev/dun                  0660   system     system
/dev/ttyGS0               0660   system     system
/dev/ttyGS1               0660   system     system
/dev/ttyGS2               0660   system     system
/dev/ttyGS3               0660   system     system
/dev/umts_router          0660   system     system

#sensor
/dev/sec-nfc                  0660   system     nfc
/dev/iio:device*		  0660	 system     system
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* buffer								0731   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* scan_elements						0731   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* trigger							0731   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* power								0731   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* uevent								0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* dev								0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* buffer/length						0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* buffer/enable						0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* scan_elements/in_timestamp_en		0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* scan_elements/in_timestamp_type	0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* scan_elements/in_timestamp_index	0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* sampling_frequency_available		0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* reg_dump							0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* temperature						0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* in_anglvel_scale					0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* in_anglvel_x_calibbias				0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* in_anglvel_y_calibbias				0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* in_anglvel_z_calibbias				0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* in_anglvel_x_offset				0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* in_anglvel_y_offset				0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* in_anglvel_z_offset				0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* in_anglvel_self_test_scale			0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* self_test_samples					0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* self_test_threshold				0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* gyro_enable						0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* gyro_fifo_enable					0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* gyro_rate							0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* power_state						0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* sampling_frequency					0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* self_test							0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* gyro_matrix						0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* secondary_name						0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* reg_write							0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* debug_smd_enable_testp1			0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* debug_smd_enable_testp2			0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* debug_smd_exe_state				0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* debug_smd_delay_cntr				0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* test_suspend_resume				0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* test_gyro_counter					0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* test_accel_counter					0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* test_compass_counter				0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* test_pressure_counter				0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* test_LPQ_counter					0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* test_PEDQ_counter					0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* test_SIXQ_counter					0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* event_display_orientation			0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* event_accel_motion					0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* event_smd							0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* event_pedometer					0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* in_accel_scale						0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* in_accel_x_calibbias				0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* in_accel_y_calibbias				0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* in_accel_z_calibbias				0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* in_accel_self_test_scale			0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* in_accel_x_offset					0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* in_accel_y_offset					0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* in_accel_z_offset					0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* in_accel_x_dmp_bias				0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* in_accel_y_dmp_bias				0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* in_accel_z_dmp_bias				0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* in_anglvel_x_dmp_bias				0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* in_anglvel_y_dmp_bias				0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* in_anglvel_z_dmp_bias				0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* pedometer_int_on					0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* pedometer_on						0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* pedometer_steps					0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* pedometer_time						0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* smd_enable							0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* smd_threshold						0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* smd_delay_threshold				0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* smd_delay_threshold2				0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* display_orientation_on				0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* dmp_on								0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* dmp_int_on							0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* dmp_event_int_on					0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* step_indicator_on					0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* batchmode_timeout					0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* batchmode_wake_fifo_full_on		0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* six_axes_q_on						0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* six_axes_q_rate					0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* three_axes_q_on					0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* three_axes_q_rate					0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* ped_q_on							0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* ped_q_rate							0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* step_detector_on					0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* motion_lpa_on						0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* motion_lpa_freq					0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* motion_lpa_threshold				0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* accel_enable						0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* accel_fifo_enable					0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* firmware_loaded					0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* accel_matrix						0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* accel_rate							0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* in_magn_scale						0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* compass_enable						0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* compass_rate						0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* compass_matrix						0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* compass_sens						0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* name								0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* trigger/current_trigger			0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* power/runtime_status				0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* power/control						0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* power/runtime_suspended_time		0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* power/runtime_active_time			0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* power/autosuspend_delay_ms			0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* dmp_firmware						0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* event_tap							0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* flush_batch						0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* master_enable						0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* tap_min_count						0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* tap_on								0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* tap_threshold						0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* tap_time							0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* dmp_firmware						0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* pedometer_int_thresh				0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* pedometer_step_thresh				0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* shealth_cadence					0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* shealth_cadence_enable				0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* shealth_int_period					0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* event_shealth_int					0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* shealth_instant_cadence			0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* shealth_flush_cadence				0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* shealth_freq_threshold				0660   system     radio
/sys/devices/platform/s3c2440-i2c.7/i2c-7/7-0068/iio:device* shealth_timer						0660   system     radio

# FM Radio
/dev/radio0               0660   system     audio

# Bluetooth
/dev/ttySAC0              0600   bluetooth    bluetooth
/dev/unifiudi0            0666   wifi         wifi

# MobiCore
/dev/mobicore             0700   system     system
/dev/mobicore-user        0666   radio     	system

# Secure MEM driver
/dev/s5p-smem             0660   drm     drmrpc

# sensorhub
/dev/ssp_sensorhub        0660   system     system

# Reactivation Lock
/dev/block/mmcblk0rpmb	0660	system	system

# Fingerprint Sensor
/dev/vfsspi               0660   system     system

# unused
/dev/video0               0660   system     camera
/dev/video1               0660   system     camera
/dev/video2               0660   system     camera
/dev/video3               0660   system     camera
/dev/video16              0660   system     system
/dev/video17              0660   system     system
/dev/video18              0660   system     system
/dev/video19              0660   system     system
/dev/video20              0660   system     system
/dev/video36              0660   media      media
/dev/video37              0660   media      media
/dev/video50              0660   media      graphics
/dev/video51              0660   media      graphics
/dev/video102             0660   system     camera
/dev/video103             0660   system     camera
/dev/video110             0660   system     camera
/dev/video111             0660   system     camera
/dev/video112             0660   system     camera
/dev/video114             0660   system     camera
/dev/video115             0660   system     camera
/dev/video116             0660   system     camera
/dev/video140             0660   system     camera
/dev/video141             0660   system     camera
/dev/video146             0660   system     camera
/dev/video149             0660   system     camera

